* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    display: grid;
    margin-inline: 0;
    margin-block: 0;
}

nav {
    position: sticky;
    inset-inline-start: 0;
    background-color: white;
    display: flex;
    justify-content: center;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    padding-inline: 0;
}

nav ul li {
    margin-inline: .25rem;
    margin-block: 0;
    line-height: 1.5rem;
    list-style: none;
}
main {
padding-block: 0;
margin-block: 0;
display: grid;
grid-template-columns: 50px 1fr 50px;
}

main > * {
    grid-column: 2;
}

.full-bleed{
    grid-column: 1 / span 3;
    padding-inline: 2rem;
}
.flex-header{
    flex-basis: 100%;
}
.my-picture {
max-inline-size: 75px;
margin-inline-end: 1rem ;
}

nav ul li {
    display: inline;
    margin: 0 .25rem;
    line-height: 1.5rem;
}
#objective{
display: flex;
flex-wrap: wrap;
}