* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

nav {
    position: sticky;
    inset-inline-start: 0;
    background-color: white;
    display: flex;
    justify-content: center;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    padding-inline: 0;
}

nav ul li {
    margin-inline: .25rem;
    margin-block: 0;
    line-height: 1.5rem;
    list-style: none;
}
main {
    max-inline-size: clamp(700px, 50%, 900px);
    padding-inline: 2rem;
    padding-block: 0;
    border-inline-start: solid 2px black;
    border-inline-end: solid 2px black;
    margin-inline: auto;
    margin-block: 0;
}

.flex-header{
    flex-basis: 100%;
}
.my-picture {
max-inline-size: 75px;
margin-inline-end: 1rem ;
}

nav ul li {
    display: inline;
    margin: 0 .25rem;
    line-height: 1.5rem;
}
#objective{
display: flex;
flex-wrap: wrap;
}