* {
    box-sizing: border-box;
}
:root{
    --important-color: #009688;
}
body {
    font-size: 16px;
    display: grid;
    margin-inline: 0;
    margin-block: 0;
    font-family: 'Montserrat', sans-serif;
}

h1,h2{
    font-family: 'Dosis',sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    color: #3d3d3d;

}

h1 {
    margin-block-end: 0;
}

h2 {
    margin-block-end: 0.75rem;
}
nav {
    position: sticky;
    inset-inline-start: 0;
    background-color: white;
    top: 0; /* TODO: remove when fixed */
    display: flex;
    justify-content: center;
}
.resume-list h3{
    margin-block-end:0.1em;
    color:var(--important-color);
}

#experience li{
    list-style: square;   
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    padding-inline: 0;
    justify-content: center;

}

nav ul li {
    margin-inline: .25rem;
    margin-block: 0;
    line-height: 1.5rem;
    list-style: none;
}
a{
    text-decoration: none
}
.social_logo {
    inline-size: 1rem;
    margin-inline: .25rem;
}
main {
padding-block: 0;
margin-block: 0;
display: grid;
grid-template-columns: 25px 1fr 25px;
row-gap: 10px;
}

main > * {
    grid-column: 2;
}

.full-bleed{
    grid-column: 1 / span 3;
    padding-inline: 2rem;
}
.flex-header{
    flex-basis: 100%;
}
.my-picture {
max-inline-size: 75px;
margin-inline-end: 0 ;
}

nav ul li {
    display: inline;
    margin: 0 .25rem;
    line-height: 1.5rem;
}
#objective{
display: flex;
flex-wrap: wrap;
justify-content: center;
text-align: center;
background-color:var(--important-color);
color: white;
}

#objective h2 {
    color: white;
}

@media screen and (min-width: 768px) {
    main {
        grid-template-columns: 50px 1fr 50px;
    }

    #objective {
        justify-content: initial;
        text-align: initial;
    }

    .my-picture {
        margin-inline-end: 1rem;
        margin-block-end: 1rem;
    }

}

#skills li{
    color: white;
    background-color:var(--important-color);
    list-style: none;
    margin-inline: .25rem;
    display: inline-block;
    text-align: center;
    padding-inline:0.25rem;
    padding-block: 0.25rem;
    margin-block: .25rem;
}

#skills ul{
    display: flex;
    flex-wrap: wrap;
    padding-inline: 0;

}
hr{
    width: 100%;
}
@media screen and (min-width: 1200px) {
    main {
        grid-template-columns: 1fr 900px 1fr;
    }

    .full-bleed {
        padding-inline: 15%;
    }
}
@media print {
    #objective {
        background-color: white;
        color: black;
    }
    #objective h2 {
        color: black;
    }
    #skills li {
        background-color: white;
        color: black;
    }
nav{
    display: none;
}
}

